.main-header {
  display: flex;
  flex-direction: column;
  height: 32.5rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: #bb0c21;
}

#avatar {
  margin-top: 15%;
}

header h2 {
  color: white;
  margin-top: -10%;
}

@media only screen and (min-width: 1024px) {
  /* .main-header {
    padding-top: 100px;
    margin-top: 0px;
  } */
}
