nav {
  display: flex;
  height: 7.5rem;
  width: 100%;
  position: fixed;
  justify-content: space-between;

  background-color: #001233;
  color: #ffffff;
}

.tweeter {
  display: flex;
  font-family: "Bungee", cursive;
  flex-direction: column;
  align-self: flex-end;
  margin-left: 1.5em;
  padding-bottom: 0.5em;
  font-size: 1.5em;
}

#new-tweet {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  margin-right: 1.5em;
}

.button-to-tweet {
  background: transparent;
  border: none;
  position: relative;
  animation: bounce 0.5s cubic-bezier(0.5, 0.05, 1, 0.5) infinite alternate;
}

@keyframes bounce {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(0, 5px, 0);
  }
}

.button-to-tweet:hover {
  cursor: pointer;
}

.fa-solid {
  color: #bb0c21;
}
