button {
  background-color: #001233;
  color: white;
  font-family: "Bungee";
}

button:active {
  background-color: #bb0c21;
}

button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px grey;
}

.counter {
  font-family: "Bungee";
  display: flex;
  justify-content: end;
}

main div {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

main h2 {
  font-family: "Bungee", cursive;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
}

#tweet-text {
  width: 100%;
  background-color: #fdf8f0;
  border-color: transparent;
  border-bottom-color: black;
  resize: none;
  height: fit-content;
  display: flex;
}

#tweet-container {
  display: flex;
  flex-direction: column;
}

#tweet-error {
  display: none;
  justify-content: center;
  width: 100%;
  align-items: center;
  border-style: solid;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
  background: #bb0c21;
  color: white;
  border-color: #001233;
}
