.tweet {
  background-color: transparent;
  border-style: solid;
  height: fit-content;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.tweet:hover {
  box-shadow: 0px 5px 5px grey;
}

.tweet header {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  height: 100px;
}

.tweet h3 {
  padding: 0.2rem 0.9rem 0.1rem 0.8rem;
}

.tweet header div {
  align-items: center;
  margin-left: 2%;
}

article {
  display: flex;
  width: 95%;
  padding-bottom: 3%;
  margin-left: 2%;
  border-bottom-style: solid;
  overflow-wrap: anywhere;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

footer p {
  margin-left: 3%;
  margin-bottom: 3%;
  font-size: smaller;
}

footer div {
  margin-right: 3%;
  display: flex;
  width: 10%;
  justify-content: space-between;
}

footer .fa-solid {
  color: #001223;
}

footer .fa-solid:hover {
  color: #bb0c21;
}

footer .fa-solid:active {
  animation: pop 0.7s linear 1;
}

@keyframes pop {
  70% {
    transform: scale(1.2);
  }
}

.scroll-up {
  justify-content: flex-end;
}

.fa-angles-up {
  color: white;
}

.scroll-up {
  position: sticky;
  bottom: 2%;
  margin-right: -3%;
}

.scroll-up .bottom-button {
  width: 60px;
  height: 60px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 90%;
  box-shadow: none;
  border-color: #001223;
  background: #001223;
  display: none;
}

.scroll-up .bottom-button:hover {
  cursor: pointer;
  box-shadow: 0px 5px 5px grey;
  background-color: #bb0c21;
  border: #001223;
}

.bottom-button.show {
  display: block;
}

@media only screen and (min-width: 1024px) {
  footer div {
    width: 5.5rem;
  }
}
